*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding:0;
}
.main{
    width: 99%;
    height: 0;
    position: relative;
    font-family: sans-serif;  
}
.Hi{
    color: blur;
    font-size: 40px;
}
 .navbar{
    background-color:green;
    position: fixed;
    top: 0;
    left: 100px;
    z-index:1;
    width: 100%;
    margin-left: -100px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.info{
    margin-left: 7%;
    margin-top: 6%;
    padding-left: 200px;
}
.info h1{
    font-size: 65px;
    color: black;
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color:green;
}

.thumb{
    position: absolute;
    left: 30%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    list-style-type: none;
    padding-left: 500px;
    height: 350px;
    width: 350px;
}
.img-box{
   width: 100px;
   height: 100px;
   position: relative;
} 
ul{
    margin-top: 10px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color:aqua;
}
aside {
	width: 350px;
	float: left;
	padding-left: 60px;
	margin-right: 20em;
}
aside li{
	list-style: none;
}
aside h2 {
	font-size: 130%;
	padding-bottom: .5em;
}
/* aside a {
    font-weight: bold; 
}
aside a:link { 
   color: #000000;
}
aside a:hover, aside a:focus {
    color: blue;
}

aside a:visited{ 
    color: #f2972e;
 } */